{% if include.class == null %}
    {% assign class = "polaroid" %}
{% else %}
    {% assign class = include.class %}
{% endif %}

<div class="{{ class }}">
    {% assign head_string = include.url | slice: 0, 4 %}
    {% assign final_url = "" %}
    {% if head_string != "http" %}
        {% assign final_url = "/images/" | append: include.url %}
    {% else %}
    {% assign final_url = include.url %}
    {% endif %}
    <img data-toggle="lightbox" src="{{ final_url }}" data-caption="{{ include.title }}"/>
    {% if include.title != null %}
        {% if counter == null %}
            {% assign counter = 1 %}
        {% else %}
            {% assign counter = counter | plus: 1 %}
        {% endif %}
        <div class="container">
            <p>图 {{ counter }}: {{ include.title }}</p>
        </div>
    {% endif %}
</div>